In [2]:
import pandas as pd

## Loading data

In [3]:
df = pd.read_csv("D:/hacktiv/tugas/trending.csv")

## Data types and general information of the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15923 entries, 0 to 15922
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publish_time       15923 non-null  object
 1   channel_id         15923 non-null  object
 2   title              15923 non-null  object
 3   description        15615 non-null  object
 4   thumbnail_url      0 non-null      float64
 5   thumbnail_width    0 non-null      float64
 6   thumbnail_height   0 non-null      float64
 7   channel_name       15923 non-null  object
 8   tags               14190 non-null  object
 9   category_id        15923 non-null  int64
 10  live_status        15923 non-null  object
 11  local_title        15923 non-null  object
 12  local_description  15615 non-null  object
 13  duration           15923 non-null  object
 14  dimension          15923 non-null  object
 15  definition         15923 non-null  object
 16  caption            15923 non-null  bool
 17  license_status     15923 non-null  bool
 18  allowed_region     540 non-null    object
 19  blocked_region     758 non-null    object
 20  view               15915 non-null  float64
 21  like               15707 non-null  float64
 22  dislike            15707 non-null  float64
 23  favorite           15923 non-null  int64
 24  comment            15807 non-null  float64
 25  trending_time      15923 non-null  object
dtypes: bool(2), float64(7), int64(2), object(15)
memory usage: 2.9+ MB

## Summary statistics of numerical and categorical columns

In [6]:
df_summary = df[list(df.columns)].copy()
df_summary

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15918,2021-06-02T10:53:28Z,UCeHGtIr2IJH1yNMTvea1mzA,"INFO BMKG PERINGATAN DINI KAMIS, 3 JUNI 2021: ...",Badan Meteorologi Klimatologi dan Geofisika (B...,NaN,NaN,NaN,Tribun Jogja TV,"['TRIBUNJOGJA', 'Berita Jogja', 'Seputar jogja...",25,...,True,True,NaN,NaN,79125.0,607.0,37.0,0,58.0,2021-06-03 06:02:08.175035+00:00
15919,2021-05-26T17:00:21Z,UCkYTR78_Knz-3S5NTxJfCIw,"Tak Terima Saat Mobilnya Dirampas Paksa, Pelak...","Jakarta, tvOnenews.com - Dua debt collector at...",NaN,NaN,NaN,Investigasi tvOne,"['talkshow', 'tvone', 'kabar kriminal', 'krimi...",25,...,False,True,NaN,NaN,169200.0,1598.0,54.0,0,2970.0,2021-06-03 06:02:08.175087+00:00
15920,2021-05-29T12:04:58Z,UCVNvQrRxK4FOo6_zjjtdhTw,Romantic Echoes feat. Pamungkas - I'm Down,Romantic Echoes feat. Pamungkas - I'm Down\n\n...,NaN,NaN,NaN,Pamungkas,NaN,10,...,False,True,NaN,NaN,116345.0,7586.0,75.0,0,610.0,2021-06-03 06:02:08.175138+00:00
15921,2021-05-31T12:30:13Z,UC6GIiaWJxZyKk_CAVa6y54Q,MASTERCHEF INDONESIA - Ada Yang Girang Banget ...,Pesonanya yang tampan membuat Chef Juna kerap ...,NaN,NaN,NaN,MasterChef Indonesia,"['MasterChef Indonesia', 'RCTI', 'Chef Juna', ...",24,...,False,True,NaN,NaN,576753.0,12948.0,243.0,0,904.0,2021-06-03 06:02:08.175186+00:00
15922,2021-05-26T07:00:13Z,UCo39yGkzqhxQDhCqyXQ8zsA,"JUDIKA RAMAIKAN TC RANS CILEGON FC DI BALI, AD...",#JudikaDuma #Judika #DumaRiris\n\nFor Business...,NaN,NaN,NaN,Judika Duma,"['Keluarga', 'Cemana', 'judika', 'duma', 'kelu...",24,...,False,True,NaN,NaN,356521.0,4725.0,126.0,0,226.0,2021-06-03 06:02:08.175225+00:00

## Subsetting the dataset based on publish date, trending date, channels, etc.

In [7]:
df_summary.iloc[:, 0]

0        2021-02-05T09:00:34Z
1        2021-02-04T15:54:08Z
2        2021-02-06T03:00:22Z
3        2021-02-05T20:26:08Z
4        2021-02-03T23:14:54Z
                 ...
15918    2021-06-02T10:53:28Z
15919    2021-05-26T17:00:21Z
15920    2021-05-29T12:04:58Z
15921    2021-05-31T12:30:13Z
15922    2021-05-26T07:00:13Z
Name: publish_time, Length: 15923, dtype: object

In [8]:
df_summary.iloc[:, -1]

0        2021-02-07 05:46:51.832614+00:00
1        2021-02-07 05:46:51.832649+00:00
2        2021-02-07 05:46:51.832664+00:00
3        2021-02-07 05:46:51.832678+00:00
4        2021-02-07 05:46:51.832730+00:00
                       ...
15918    2021-06-03 06:02:08.175035+00:00
15919    2021-06-03 06:02:08.175087+00:00
15920    2021-06-03 06:02:08.175138+00:00
15921    2021-06-03 06:02:08.175186+00:00
15922    2021-06-03 06:02:08.175225+00:00
Name: trending_time, Length: 15923, dtype: object

In [11]:
df_summary.iloc[:, 7]

0                        SMTOWN
1        Indonesia Lawyers Club
2                      Motomobi
3                            yb
4                  FC Barcelona
                  ...
15918           Tribun Jogja TV
15919         Investigasi tvOne
15920                 Pamungkas
15921      MasterChef Indonesia
15922               Judika Duma
Name: channel_name, Length: 15923, dtype: object

In [10]:
df_summary.iloc[:, 2]

0                              aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV
1        [FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...
2           CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12)
3                              With Windah Basudara & Hans
4        ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...
                               ...
15918    INFO BMKG PERINGATAN DINI KAMIS, 3 JUNI 2021: ...
15919    Tak Terima Saat Mobilnya Dirampas Paksa, Pelak...
15920           Romantic Echoes feat. Pamungkas - I'm Down
15921    MASTERCHEF INDONESIA - Ada Yang Girang Banget ...
15922    JUDIKA RAMAIKAN TC RANS CILEGON FC DI BALI, AD...
Name: title, Length: 15923, dtype: object

## Grouping based on channels, trending date, etc., and aggregate on average, median, etc

In [25]:
df.groupby("channel_name")[["channel_name", "view", "comment", "trending_time", "title"]].sum()

                                                   view   comment
channel_name
#temantapimenikah                              358735.0    1378.0
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel)  50244590.0  336726.0
1 vs 9999                                    17678492.0     575.0
10 News First                                22675342.0   83656.0
100kpj com                                      93024.0     232.0
...                                                 ...       ...
ÏµúÏãúÏõê Siwon Choi                                1060384.0   13025.0
ÌÇ§Ïù¥Ïä§Ìä∏ KEYEAST official                         1727907.0    6545.0
ÌîºÍ∏∞Î≥¥Ïù¥ PiggyBoy                                 5109281.0    1937.0
ÌïúÎ∞§ HANBAM                                      444251.0    1745.0
ÌòÄÎãàÏΩ§Î≥¥ TV                                       1915164.0   18843.0

[1143 rows x 2 columns]

In [24]:
df.groupby("channel_name")[["channel_name", "view", "comment", "trending_time", "title"]].median()

                                                  view  comment
channel_name
#temantapimenikah                              78776.0    359.0
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel)  5678942.0  39489.0
1 vs 9999                                     991195.5     41.0
10 News First                                1737092.0   7617.0
100kpj com                                     46512.0    116.0
...                                                ...      ...
ÏµúÏãúÏõê Siwon Choi                                128341.0   1796.5
ÌÇ§Ïù¥Ïä§Ìä∏ KEYEAST official                         729239.0   2071.0
ÌîºÍ∏∞Î≥¥Ïù¥ PiggyBoy                                5109281.0   1937.0
ÌïúÎ∞§ HANBAM                                     444251.0   1745.0
ÌòÄÎãàÏΩ§Î≥¥ TV                                       254400.0   2727.5

[1143 rows x 2 columns]

## Number of unique channels or videos, overall average comments, likes, views, etc

In [17]:
print("Unique Channels:", df["channel_name"].nunique())
print("Unique Title:", df["title"].nunique())

Unique Channels: 1143
Unique Title: 3738

In [21]:
print("Average comments:", df["comment"].mean())
print("Average likes:", df["like"].mean())
print("Average views:", df["view"].mean())

Average comments: 23057.146707155058
Average likes: 157711.44878079838
Average views: 3151004.9660697454